footer {
    font-size: smaller;
}

.map {
    font-size: 0px;
}

.map-row {
    overflow: hidden;
}

.texturies {
    width: 32px;
    height: 32px;
}

.earth {
    background: url(/includes/images/texturies.png) -99px -429px;
}

.water {
    background: url(/includes/images/texturies.png) -99px -528px;
}

.forest {
    background: url(/includes/images/texturies.png) -99px -198px;
}

.mountain {
    background: url(/includes/images/texturies.png) -297px -264px;
}

.sand {
    background: url(/includes/images/texturies.png) -99px -330px;
}

.bog {
    background: url(/includes/images/texturies.png) -297px -363px;
}

.base-1 {
    background: url(/includes/images/units.png) -422px -33px;
    background-size: 421px 361px;
}

.base-2 {
    background: url(/includes/images/units.png) -388px -98px;
    background-size: 421px 361px;
}

.infantry-1 {
    background: url(/includes/images/units.png) -356px 0px;
    background-size: 421px 361px;
}

.infantry-2 {
    background: url(/includes/images/units.png) -32px -65px;
    background-size: 421px 361px;
}

.tanks-1 {
    background: url(/includes/images/units.png) -259px 0px;
    background-size: 421px 361px;
}

.tanks-2 {
    background: url(/includes/images/units.png) -130px -65px;
    background-size: 421px 361px;
}

.warplanes-1 {
    background: url(/includes/images/units.png) 33px -33px;
    background-size: 421px 361px;
}

.warplanes-2 {
    background: url(/includes/images/units.png) -130px -98px;
    background-size: 421px 361px;
}